<a href="https://colab.research.google.com/github/Shinhunjun/Data-Analysis_Study/blob/main/22_11_12(onehot_encoding%2C_normalize%2C_standardize).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
train= pd.read_csv('https://bit.ly/fc-ml-titanic')

Onehot encoding

In [6]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [7]:
train['Embarked']= train['Embarked'].fillna('S')

In [10]:
train['Embarked'].value_counts( )

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
train['Embarked_num']=LabelEncoder().fit_transform(train['Embarked'])

In [15]:
train['Embarked_num'].value_counts()

2    646
0    168
1     77
Name: Embarked_num, dtype: int64

In [16]:
pd.get_dummies(train['Embarked_num'][:6])

   0  1  2
0  0  0  1
1  1  0  0
2  0  0  1
3  0  0  1
4  0  0  1
5  0  1  0

In [17]:
one_hot = pd.get_dummies(train['Embarked_num'][:6])

In [18]:
one_hot.columns = ['C','Q','S']

In [19]:
one_hot

   C  Q  S
0  0  0  1
1  1  0  0
2  0  0  1
3  0  0  1
4  0  0  1
5  0  1  0

Normalize

In [24]:
movie = { 'naver': [2,4,6,8,10], 
         'netflix':[1,2,3,4,5]
         }

In [28]:
movie= pd.DataFrame(data=movie)
movie

   naver  netflix
0      2        1
1      4        2
2      6        3
3      8        4
4     10        5

In [25]:
from sklearn.preprocessing import MinMaxScaler

In [26]:
min_max_scaler = MinMaxScaler()

In [29]:
min_max_movie = min_max_scaler.fit_transform(movie)

In [30]:
pd.DataFrame(min_max_movie, columns=['naver', 'netfix'])

   naver  netfix
0   0.00    0.00
1   0.25    0.25
2   0.50    0.50
3   0.75    0.75
4   1.00    1.00

Standard Scaling

In [31]:
from sklearn.preprocessing import StandardScaler
standard_scaler = StandardScaler()

In [33]:
x = np.arange(10)
x[9]= 1000

In [35]:
x.mean(), x.std()

(103.6, 298.8100399919654)

In [36]:
scaled = standard_scaler.fit_transform(x.reshape(-1,1))

In [37]:
x.mean(), x.std()

(103.6, 298.8100399919654)

In [38]:
scaled.mean(), scaled.std()

(4.4408920985006264e-17, 1.0)

In [39]:
round(scaled.mean(),2), scaled.std()

(0.0, 1.0)