<a href="https://colab.research.google.com/github/Shinhunjun/Data-Analysis/blob/main/22_11_11(Preprocessing).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Dividing train and test data

In [2]:
import numpy as np
import pandas as pd

In [3]:
train= pd.read_csv('https://bit.ly/fc-ml-titanic')

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
feature = [
    'Pclass', 'Sex', 'Age', 'Fare'
]

In [6]:
label = [
    'Survived'
         ]

In [7]:
train[feature].head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [8]:
train[label].head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_valid, y_train, y_valid = train_test_split(train[feature], train[label], test_size=0.2, shuffle=True, random_state=30)

In [11]:
x_train.shape, y_train.shape

((712, 4), (712, 1))

In [12]:
x_valid.shape, y_valid.shape

((179, 4), (179, 1))

In [14]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Preprocessing(Numeric)

In [16]:
train['Age'].fillna(0).describe()

count    891.000000
mean      23.799293
std       17.596074
min        0.000000
25%        6.000000
50%       24.000000
75%       35.000000
max       80.000000
Name: Age, dtype: float64

In [17]:
train['Age'].fillna(train['Age'].mean()).describe()

count    891.000000
mean      29.699118
std       13.002015
min        0.420000
25%       22.000000
50%       29.699118
75%       35.000000
max       80.000000
Name: Age, dtype: float64

In [18]:
from sklearn.impute import SimpleImputer

In [19]:
imputer = SimpleImputer(strategy='mean')

In [20]:
imputer.fit(train[['Age', 'Pclass']])

SimpleImputer()

In [23]:
result=imputer.transform(train[['Age','Pclass']])

In [24]:
result

array([[22.        ,  3.        ],
       [38.        ,  1.        ],
       [26.        ,  3.        ],
       ...,
       [29.69911765,  3.        ],
       [26.        ,  1.        ],
       [32.        ,  3.        ]])

In [25]:
train[['Age','Pclass']]= result

In [26]:
train[['Age', 'Pclass']].isnull().sum()

Age       0
Pclass    0
dtype: int64

Preprocessing(Text)

In [27]:
imputer = SimpleImputer(strategy='most_frequent')

In [28]:
result= imputer.fit(train[['Embarked', 'Cabin']])

In [29]:
train[['Embarked', 'Cabin']] = result

In [30]:
train[['Embarked', 'Cabin']].isnull().sum()

Embarked    0
Cabin       0
dtype: int64

Transforming Categorical to Numerical(Label Encoding)

In [31]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    float64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(3), int64(4), object(5)
memory usage: 83.7+ KB

In [33]:
def convert(data):
    if data == 'male':
        return 1
    elif data == 'female':
        return 0

In [34]:
train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [35]:
train['Sex'].apply(convert)

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int64

In [37]:
from sklearn.preprocessing import LabelEncoder

In [38]:
le = LabelEncoder()

In [40]:
train['Sex_num']= le.fit_transform(train['Sex'])

In [41]:
train['Sex_num'].value_counts()

1    577
0    314
Name: Sex_num, dtype: int64

In [44]:
le.classes_

array(['female', 'male'], dtype=object)

In [45]:
le.inverse_transform([0, 1, 1, 0, 0, 1, 1])

array(['female', 'male', 'male', 'female', 'female', 'male', 'male'],
      dtype=object)