<a href="https://colab.research.google.com/github/Shinhunjun/Data-Analysis_Study/blob/main/%5B%E1%84%92%E1%85%A2%E1%84%89%E1%85%A5%E1%86%AF%5DCh05_python%E1%84%91%E1%85%B3%E1%84%85%E1%85%A9%E1%84%80%E1%85%B3%E1%84%85%E1%85%A2%E1%84%86%E1%85%B5%E1%86%BC_06_%E1%84%87%E1%85%A1%E1%86%AB%E1%84%87%E1%85%A9%E1%86%A8%E1%84%86%E1%85%AE%E1%86%AB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. 반복문이란?

* 반복해야 하는 일을 반복하는 것
* 반드시 list, dict, set 등 집합에 대한 순회를 돌며 일을 처리할 때 많이 쓰입니다.

In [ ]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

mylist에 들어 있는 모든 값들을 출력하려고 한다면?

In [ ]:
print(mylist[0])
print(mylist[1])
print(mylist[2])
print('...')
print(mylist[8])
print(mylist[9])

1
2
3
...
9
10

노가다를 획기적으로 줄여주는 방법!!!

## 2. for 와 in을 활용하자!

**[기본 문법]**<br>
for 하나씩 꺼내올 때 변수 in [꺼내올 집합]

In [ ]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for abc in mylist:
    print(abc)

1
2
2
3
3
4
4
5
5
6
6
7
7
8
8
9
9
10
10
11

## 3. 반복문에서 짝수만 출력하려면?

In [ ]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in mylist:
    # your code here #
    if i % 2 == 0:
        print(i)
    ##################

2
4
6
8
10

**continue** 라는 구문을 통해 아래 로직은 SKIP할 수 있습니다.

In [ ]:
for i in mylist:
    # your code here #
    if i % 2 == 1:
        continue
    ##################
    print(i)

2
4
6
8
10

## 4. break로 조건에 해당하면 빠져나와보자!

In [ ]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

i가 6 이상이면 STOP

In [ ]:
for i in mylist:
    if i >= 6:
        print('break')
        break
    print(i)

1
2
3
4
5
break